@model PetShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>
<!-- Blog Start -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                 @{
                <h1 class="text-uppercase mb-4"> @Html.DisplayFor(model => model.Name)</h1>
                    <img src="data:image;base64,@(Model.Image)">
                <p>
                    Price:
                    @Html.DisplayFor(model => model.Price)
                </p>
                <p>
                    Original Price:
                    @Html.DisplayFor(model => model.OriginalPrice)
                </p>
                <p>
                    Specification:
                    <br/>
                    @Html.DisplayFor(model => model.Specification)
                </p>
                @Html.DisplayFor(model => model.Description)
                }
                </p>
                @Html.DisplayFor(model => model.Description)
            </div>
            <a class="btn btn-light py-md-3 px-md-5 me-3" asp-route="addcart" asp-route-productid="@Model.Id">Add to Cart</a>
        @*    <a href="" class="btn btn-primary text-uppercase py-md-3 px-md-5 my-3">Buy</a>*@
            <!-- Blog Detail End -->
        </div>
        <!-- Sidebar End -->
        <!-- Comment Form Start -->
        <div class="bg-light p-5">
            <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Leave a comment</h3>
            <form>
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Comment Form End -->
    </div>
</div>
<!-- Blog End -->
