@model PetShop.Models.Product
@{
    ViewData["Title"] = "Service";
}

<style>
    .container {
        max-width: 1000px;
        margin: auto;
        padding: 20px;
    }    
</style>
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Services</h6>
            <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-12">
                <div class="service-item bg-light d-flex p-4">
                    <i class="@Html.DisplayFor(model => model.Image) display-1 text-primary me-4"></i>
                    <div>
                        <div class="service-header">
                            <h5 class="text-uppercase mb-3">@Html.DisplayFor(model => model.Name)</h5>
                            <a href="@Url.Action("Index", "Service")">Back to Services</a>
                        </div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>

        <div class="service-description">
        @*<p>Our pet sitters will come to your home and take care of your pets while you're away. This includes feeding, walking, and providing plenty of love and attention.</p>
        <p>Our pet sitting services are available for all types of pets, including dogs, cats, birds, and other small animals. We can customize our services to meet your specific needs, whether you need daily visits or just a few visits per week.</p>*@
            @Html.DisplayFor(model => model.Specification)
        </div>

        <!-- Comment Form Start -->
        <div class="bg-light p-5">
            <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Leave a comment</h3>
            <form>
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Comment Form End -->
    </div>
</div>
@*<div class="container">
    <div class="service-header">
    <h2>Pet Sitting</h2>
    <a href="index.html">Back to Services</a>
    </div>
    <div class="service-description">
    <p>Our pet sitters will come to your home and take care of your pets while you're away. This includes feeding, walking, and providing plenty of love and attention.</p>
    <p>Our pet sitting services are available for all types of pets, including dogs, cats, birds, and other small animals. We can customize our services to meet your specific needs, whether you need daily visits or just a few visits per week.</p>
    </div>
    </div>*@
